<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>Aller et venir</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="manifest" href="/static/manifest.json">
    <link rel="mask-icon" href="/static/safari-pinned-tab.svg" color="#5bbad5">

    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="main wrapper clearfix">
      <div class="main-container">
	<table class="table table-sm" style="font-size: 2rem;">
	  <tbody>
            {% for card in cards %}
	    <tr style="{{card.style}}">
	      <td>
		<span class="badge badge-light" style="color: #427dbd">{{ card.direction }} {{ card.eta }}</span>
	      </td>
	      <td>
		{{ card.time }}
	      </td>
	    </tr>
            {% endfor %}
	    <tr>
              <td colspan="2" style="font-size: 16px;">
		RER B - {{ statusB['result']['message'] }}<br />
		M6 - {{ status6['result']['message'] }}
	      </td>
	    </tr>
	  </tbody>
	</table>
    <!-- <script defer src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.bundle.min.js" integrity="sha384-3ziFidFTgxJXHMDttyPJKDuTlmxJlwbSkojudK/CkRqKDOmeSbN6KLrGdrBQnT2n" crossorigin="anonymous"></script>  
    <script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>-->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  </body>
</html>
